.submit-button_dream-form button{
    margin: 5px;
    background-color: rgb(184, 60, 241);
    border-top-color: white;
    border-left-color: white;
    color: white;
    border-radius: 5px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.submit-button_dream-form button:hover{
    box-shadow:
      0 0 10px 2px #fff,  /* inner white */
      0 0 30px 20px #f0f, /* middle magenta */
      0 0 50px 35px rgb(0, 204, 255); /* outer cyan */
}

.title input,
.keywords input {
    width: 50%;
    margin: 5px;
    border: 3px solid rgba(255, 255, 255, 0.226);
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 5px;
    color: white;
}

.notes textarea {
    width: 70%;
    margin: 5px;
    border: 3px solid rgba(255, 255, 255, 0.226);
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 5px;
    color: white;
}

label {
    font-size: large;
    font-weight: bold;
}

.title {
    margin-top: 5px;
}

