.dream-header {
    margin-top: 25px;
    margin-left: 450px;
    width: 800px;
    height: 200px;
    border: 3px solid white;
    border-radius: 5px;
}

.dream-body {
    max-width: 80vw;
    width: 80vw;
    height: 480px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 150px;
    border: 3px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    overflow: auto;
}

.dream-page-container {
    background: url("https://img1.goodfon.com/original/1920x1080/1/df/purple-pink-sky-sunset-twilight-dusk.jpg") no-repeat center fixed; 
    background-size: cover;
}

.fragment-container {
    margin: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 5px;
    min-width: 20vw;
    width: 350px;
    height: 445px;
    border: 3px solid white;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

.input-frag {
    flex-flow: column wrap;
    margin: 5px;
    border: 3px solid white;
    border-radius: 5px;
    height: 30%;
    width: 98%;
}