.dream-header {
    margin: auto;
    margin-top: 15px;
    width: 800px;
    height: 200px;
    border: 3px solid rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    display: flex;
}

.dream-body {
    width: 90vw;
    height: 480px;
    margin: auto;
    margin-top: 30px;
    padding: 5px;
    border: 3px solid rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
}

.dream-page-container {
    background: url("https://images.hdqwalls.com/download/beautiful-blue-purple-sky-4k-9g-1920x1080.jpg") no-repeat center fixed; 
    background-size: cover;
    width: 100vw;
    padding-bottom: 15px;
}

.dream-page-container h1 {
    text-align: center;
    padding-top: 15px;
    margin-top: 0px;
}

.fragment-container {
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 20vw;
    width: 350px;
    height: 445px;
    border: 3px solid rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    color: white;
}

.fragment-card_container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.description-frag {
    padding-left: 3px;
    padding-top: 3px;
    margin-left: 0px;
    margin-bottom: 0px;
    border: 3px solid rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    height: 50%;
    width: 98%;
    overflow-y: auto;
}

.setting-frag,
.emotions-frag {
    padding-left: 3px;
    padding-top: 3px;
    margin-left: 0px;
    margin-bottom: 5px;
    border: 3px solid rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    height: 15%;
    width: 98%;
    overflow-y: auto;
}

.title-frag {
    padding-left: 3px;
    padding-top: 5px;
    margin: 5px;
    margin-left: 0px;
    margin-bottom: 5px;
    border: 3px solid rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    height: 7%;
    width: 98%;
    color: white;
    text-align: center;
    overflow-x: auto;

}

.title-content_fragment,
.emotions-content_fragment,
.setting-content_fragment,
.description-content_fragment {
    margin: 5px;
    color: white;
}

.keywords_fragment-page, .notes_fragment-page {
    border: 1px solid rgba(255, 255, 255, 0.7);
    font-size: 25px;
    width: 100%;
    height: auto;
    padding: 10px 0px 0px 15px;
    background-color: rgba(0, 0, 0, 0.75);
    overflow-y: auto;
    color: white;
}

.keywords_fragment-page {
    border-right-style: groove;
}

.notes_fragment-page {
    border-left-style: groove;
}