.footer-container {
    color: white;
    background-color: rgb(65, 18, 165);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 35px;
    height: 70px;
    border-top: 5px inset;
}
  
  .footer-container_title {
    font-size: 20px;
    position: absolute;
  }
  
  .name {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #FFF4E4;
    padding-top: 10px;
  }
  
  .icon {
    margin: auto;
  }

  #github {
    background-color: rgb(73, 218, 175);
    border-radius: 50%;
  }

  #linkedin {
    background-color: white;
    border-radius: 50%;
    border: none;
  }
  
  #email {
    background-color: rgb(0, 217, 255);
    border-radius: 50%;
  }

  .icon-container {
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
      padding-top: 10px;
  }

.footer-container_jimmy {
  margin: auto;
  margin-bottom: 0px;
  margin-top: 0px;
}
  