.signup-page-container {
    max-height: 800px;
    height: 800px;
    max-width: 100vw;
    width: 95vw;
    background: url("https://images.fineartamerica.com/images-medium-large-5/view-of-the-night-lake-randall-branham.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

.signup-form {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-page-form {
    padding: 50px;
    padding-bottom: 20px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(131, 29, 199, 0.7);
    border-radius: 5px;
    text-align: center;
}

.signup-button {
    display: flex;
    justify-content: center;
}

#signup {
    font-weight: bolder;
    padding-bottom: 5px;
}