.signup-page-container {
    height: 800px;
    width: 100vw;
    background: url("https://images.wallpaperscraft.com/image/palm_trees_silhouette_sunset_180300_1920x1080.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.signup-form {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-page-form {
    padding: 50px;
    padding-bottom: 20px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(131, 29, 199, 0.9);
    border-radius: 5px;
    text-align: center;
}

.signup-button {
    display: flex;
    justify-content: center;
}

.signup-button button {
    color:rgba(210, 164, 240, 0.85);
    background-color: black;
    font-family: cursive;
    font-size: 20px;
    border-radius: 15px;
    border-color: blanchedalmond;
    border-bottom: none;
    border-right: none;
}

#signup {
    font-weight: bolder;
    font-size: large;
    padding-bottom: 5px;
}

