.splash-page-container {
    background: url("moonBG.jpg") no-repeat center center ;
    background-size: cover;
    width: 98.4vw;
    height: 93vh;
    display: flex;
    align-items: flex-start;
    align-content: space-between;
    text-align: center;
    animation: fadeIn linear 7s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.app-intro {
    padding-top: 160px;
    font-size: 50px;
    color: rgba(245, 245, 245, 0.699);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.intro span{
    animation: fadeIn linear 4s;
}

.intro {
    font-family: cursive;
    padding: 25px;
    width: 100%;
    background-color: rgba(86, 28, 128, 0.527);
    border: 3px solid whitesmoke;
    border-left: none;
    border-right: none;
}

.start-button {
    font-size: 30px;
    width: 180px;
    margin: auto;
    margin-top: 20px;
    border: solid whitesmoke;
    border-radius: 15px;
    padding: 5px;
}

.start-button:hover {
    background-color: rgba(107, 16, 172, 0.527);
}


  
  