
h1, h2, .homepage-form {
    color: white;
}

h1 {
    margin: 20px;
    margin-top: 20px;
}

h2 {
    text-align: center;
}

.homepage-form {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dream-form {
    border: 2px solid white;
    background-color: rgba(131, 29, 199, 0.7);
    border-radius: 5px;
    width: 300px;
    height: 280px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}
/* 
.dream-form:hover {
    background-color: rgba(99, 43, 253, 0.856);
} */

.dream-button {
    display: flex;
    justify-content: flex-end;
}



.dream-card_container {
    border: 2px solid rgb(255, 255, 255, 0.9);
    border-radius: 5px;
    margin: 5px;
    margin-bottom: 10px;
    background-color: rgba(131, 29, 199, 0.7);
    width: 50vw;
    height: 100px;
    display: table;
}

/* .dream-card_container:hover {
    background-color: rgb(99, 43, 253, 0.856)
} */

.dream-card button {
    display: flex;
    justify-content: flex-end;
}

.dream-card p {
    margin: 0px;
    margin-bottom: 5px;
    font-size: 16px;
    /* display: table-column; */
}

.dream-keywords p {
    font-size: large;
    padding: 5px;
    width: 100%;
}

.dream-keywords:hover,
.dream-notes:hover {
    background-color: rgb(99, 43, 253, 0.856)
}

.dream-card h4 > p {
    margin-bottom: 5px;
}

.page-body {
    width: 500px;
    display: flex;
    flex-flow: column;
    margin: auto;
    /* align-content: center; */
}

.dream-list {
    margin-top: 40px;
    margin-left: 80px;
}

.sub-dream-list {
    display: flex;
}

.tips {
    word-wrap: normal;
    max-height: 100vw;
    height: 300px;
    width: 350px;
    border: 2px solid rgb(255, 255, 255, 0.9);
    border-radius: 5px;
    margin: 5px;
    background-color: rgba(131, 29, 199, 0.9);
    position: fixed;
    margin-left: 65vw;
    margin-top: 10px;
    color: whitesmoke;
    font-size: 20px;
    box-shadow:
      0 0 20px 5px #fff,  /* inner white */
      0 0 40px 20px #f0f, /* middle magenta */
      0 0 60px 35px rgb(89, 0, 255); /* outer cyan */
}

.tips:hover {}

.tips li {
    margin-right: 25px;
}

.tips h2 {
    margin-top: 5px;
}

.dream-list > h2 {
    display: flex;
    justify-content: flex-start;
}

h2 a {
    color: white;
}

.home-container {
    /* height: 100vw; */
    color: whitesmoke;
    width: 98.2vw;
    background: url("https://img.wallpapersafari.com/desktop/1920/1080/64/53/PM0xVJ.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

textarea {
    resize: none;
}

