.page-container {
    height: 50vw;
    width: 95vw;
    margin-top: 7px;
    background-image: url("https://images.fineartamerica.com/images-medium-large-5/view-of-the-night-lake-randall-branham.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    position: fixed;
}

body {
    background-color: black;
}

.login-form {
    display: absolute;
    margin: 130px;
    margin-top: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-page-form {
    padding: 50px;
    padding-bottom: 20px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(131, 29, 199, 0.7);
    border-radius: 5px;
    text-align: center;
}

.login-button {
    display: flex;
    justify-content: flex-end;
}

#login {
    font-weight: bolder;
    padding-bottom: 5px;
}