h2, h4 {
    margin: 0px;
}

.dream-title,
.dream-keywords,
.dream-notes {
    padding-left: 5px;
}

.dream-keywords,
.dream-notes {
    width: 50%;
    margin: 10px;
    margin-top: 50px;
    border: 4px solid rgba(255, 255, 255, 0.226);
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 5px;
}

.dream-card > form input,
.dream-card > form textarea {
    width: 50%;
    margin: 10px;
    border: 4px solid rgba(255, 255, 255, 0.226);
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 5px;
    color: white;
}

.dream-card > form input::placeholder,
.dream-card > form textarea::placeholder {
    color: white;
} 

.dream-keywords {
    display: flex;
}

.dream-keywords h3 {
    padding: 5px;
}

.dream-keywords h3,
.dream-notes h3 {
    padding-top: 4px;
    margin-top: 0px;
    margin-bottom: 2px;
}

.dream-notes p {
    padding: 5px;
}

.edit-button,
.save-button,
.cancel-button,
.delete-button {
    margin: 5px;
    background-color: rgb(184, 60, 241);
    border-top-color: white;
    border-left-color: white;
    color: white;
}

.edit-button:hover,
.save-button:hover,
.cancel-button:hover,
.delete-button:hover {
    box-shadow:
      0 0 4px 1px #fff,  /* inner white */
      0 0 15px 5px rgb(153, 0, 255), /* middle magenta */
      0 0 25px 15px rgb(89, 0, 255); /* outer cyan */
}

.dream-card_buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 4px;
    margin-right: 15px;
}

.dream-card_body {
    display: flex;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-right: 10px;
}

.dream-card:hover {
    box-shadow:
      0 0 4px 1px #fff,  /* inner white */
      0 0 15px 5px rgb(153, 0, 255), /* middle magenta */
      0 0 25px 15px rgb(89, 0, 255); /* outer cyan */
}