.search {
    color: rgb(63, 15, 238);
    font-weight: bold;
}

.searched-dream {
    color: rgb(63, 15, 238);
    font-weight: bold;
    margin: 0;
    margin-left: 10px;
    padding:8px 0px 0px 6px;
    /* position: fixed; */
    width: 370px;
    height: 27px;
    border: 1px solid blueviolet;
    border-radius: 5px;
    background-color: rgb(200, 176, 245);
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: large;
}

.searched-dream a:hover {
    color: white;
}

.searched-dream a {
    color: rgb(63, 15, 238);
}

.search-results_container {
    border: 2px solid blueviolet
}