nav {
    margin-left: 5px;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
}

ul .logout-button {
    align-items: flex-end;
}

.header_logo {
    width: 100px;
    height: 65px;
    overflow: hidden;
    margin-top: -6px;
    margin-left: -6px;
}

.home {
    display: flex;
    width: 365px;
    height: 50px;
    background-color: black;
}

a h1:hover {
    background-color: rgb(70, 43, 226);
    background-size: 3px;
}

.page {
    display: absolute;
    display: flex;
    background-color: black;
    width: 98vw;
}

.home h1 {
    margin: 0px;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 40px;
    color: blueviolet;
}

.navlogo {
    display: flex;
    justify-content: space-between;    
}

nav button {
    margin-top: 20px;
}
