nav {
    margin-left: 5px;
}

nav > ul {
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
}

ul .logout-button {
    align-items: flex-end;
}

.header_logo {
    width: 100px;
    height: 65px;
    overflow: hidden;
    margin-top: -6px;
    margin-left: -6px;
}

.home {
    display: flex;
    width: 365px;
    height: 50px;
}

a h1 {
    font-family:cursive;
}

a h1:hover {
    border-bottom: 2px solid;
    border-radius: 20% ;
    box-shadow:
    0 0 4px 1px #fff,
    0 0 15px 5px rgb(153, 0, 255),
    0 0 25px 15px rgb(89, 0, 255); 
}

.page {
    display: absolute;
    display: flex;
    /* background-color: ; */
    width: 98vw;
}

.home h1 {
    margin: 0px;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 40px;
    color: blueviolet;
}

.navlogo {
    display: flex;
    justify-content: space-between;    
}

nav button {
    margin-top: 20px;
}
